header {
  background-color: #ffffff;
  height: 100px;
  border-bottom: 1px solid #ddd;
}

.col {
  padding: 0px;
  margin: 15px;
}

.logo-left {
  padding-right: 90px; 
}

.img-1 {
  position: absolute;
  z-index: 2;
  right: -15px;
  top: 20px;
}

.img-2 {
  position: absolute;
  z-index: 1;
  right: -10px;
  top: 65px;
}

.positionRel {
  position: relative;
}

.text1 {
  font-family: 'Montserrat', sans-serif;
  color: #3c3950;
}

.text-font1 {
  font-family: 'Montserrat', sans-serif;
}

.text-font2 {
  font-family: 'Source Sans Pro', sans-serif;
}

.font50 {
  font-size: 50px;
}

.font36 {
  font-size: 36px;
}

.font27 {
  font-size: 27px;
}

.font24 {
  font-size: 24px;
}

.font16 {
  font-size: 16px;
}

.font14 {
  font-size: 14px;
}

.color0 {
  color: #ffffff;
}

.color1 {
  color: #00bcd4;
}

.color2 {
  color: #5f727f;
}

.color3 {
  color: #3c3950;
}

.bg-1 {
  background-color: #dfe5e7;
  margin-top: 125px;
  padding: 5px 5px 35px 10px;
}

.bg-2 {
  background-color: #dfe5e7;
  margin-top: 105px;
  padding: 5px 20px 30px;
}

.bg-3 {
  background-color: #dfe5e7;
  margin-top: 100px;
  padding: 5px 10px 40px;
}

.margin-1 {
  margin-right: 5px;
  margin-left: 5px;
}

.text2 {
  width: 1169px;
  height: 40px;
  font-size: 24px;
  line-height: 37px;
  color: #5f727f;
  font-family: "Source Sans Pro";
}

.row-margin {
  margin-top: 45px;
  margin-bottom: 110px;
}

.row-margin-1 {
  margin-top: 45px;
}

.row-margin-2 {
  margin-top: 40px;
}

.row-margin-3 {
  margin-top: 110px;
}

.row-margin-4 {
  margin-top: 30px;
}

.img-margin {
  margin-top: 80px;
  margin-bottom: 60px;
}

.text-margin1 {
  margin-top: 65px;
  margin-bottom: 40px;
}

.text-margin2 {
  margin-top: 25px;
  margin-bottom: 0px;
}

.col-margin-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.slide-style {
  background-image: url("file:///D:/ThucTap/Final/images/SLIDER.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  height: 600px;
}

ul.nav > li {
  padding: 10px 25px;
}

ul.nav > li:nth-child(2) {
  border: 2px solid #3b3950;
}

li.nav-item > a {
  color: #3c3950 !important;
  padding: 0px !important;
}

.box-1 {
  margin-top: 75px;
}

.box1 {
  border: none;
}

.box1-1 {
  height: 210px;
}

.box1-2 {
  height: 85px;
}

.box1 .box1-2:hover {
  background-color: #393d50;
  cursor: pointer;
}

.box1 .box1-2:hover > div > hr {
  width: 80px;
}

.box1 .box1-2:hover > div:nth-child(1) {
  color: #ffffff;
}

.box1 .box1-2:hover > div:nth-child() {
  color: #99a9b5;
}

.box1-3 {
  height: 45px;
}

.box2 {
  border: 1px solid #dfe5e7;
}

.box2-1 {
  height: 325px;
}

.box2-2 {
  height: 145px;
}

.bg-color-1 {
  background-color: #f0f3f2;
}

.bg-color-2 {
  background-color: #fdfdfd;
}

.bg-color-3 {
  background-color: #393d50;
}

.bg-color-4 {
  background-color: #00c3d4;
}

.bg-color-5 {
  background-color: #fec53d;
}

.box3-1 {
  height: 187px;
  background-color: #dfe5e8;
}

.box3-2 {
  height: 320px;
  background-color: #f0f3f2;
}
hr {
  margin: 0px;
  width: 50px;
}